/* root element select  */

* {
    font-family: Inter, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* navigation bar designing */

#navbar {
    display: flex;
}

.logo {
    height: 63px;
    width: 172px;
    margin-top: 17px;
    margin-left: 74px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    list-style-type: none;
    padding-left: 4rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.nav-itm:hover .dropdown-content {
    display: block;
    border: 0.3px solid rgba(37, 34, 34, 0.788);
    border-radius: 7px;
    background-color: white;
    padding-bottom: 6px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}


.nav-itm {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    padding: 10px 13px;
    margin-left: 19px;
    margin-top: 25px;
}

.nav-itm:hover {
    background-color: #f6f6f6;
    border-radius: 5px;
    margin-bottom: 13px;

}

.sign-in {
    background-color: #00baf2;
    /* border-radius: 98%; */
    border-radius: 25px;
    margin-left: 71px;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    height: 46px;
    display: flex;
    align-items: center;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /* right: 0; */

}

.user-sign-in {
    margin-right: 0;
    right: -10px;
    position: relative;
    margin-left: 12px;
    background-color: #0f4a8a;
    border-radius: 50%;
    padding: 13px;
    z-index: 1;
}

.user-sign-in:hover {
    background-color: #00baf2;
}

.link-signin {
    text-decoration: none;
}

.text-sign-in {
    position: relative;
    left: 10px;
    color: white;
    font-weight: 600px;
}

.sign-in:hover {
    background-color: #093b71;

}

/* span area selected */

#Wallet-Kyc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: 42px;
    font-size: 25px;
}


.bold-txt {
    font-weight: bold;
}

/* Download paytm designing */
#DownloadApp {
    display: flex;
    margin-top: 148px;
    margin-bottom: 170px;
}

.paymentApp {
    margin-left: 140px;
    width: 650px;

}

.paytm-upi {
    width: 80px;
}

.App-heading {
    font-size: 54px;
    line-height: 65px;
    margin: 30px 0px;
}

.para-head {
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    /* font-weight: bold; */
}

#DownloadBtn {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 8px 13px;
    border-radius: 17px;
    border: .2px solid black;
}

#DownloadBtn:hover {
    background: #fff;
    color: #000;
}

.App-img {
    /* height: 6rem; */
    width: 528px;
    position: absolute;
    top: 250px;
    right: 0;
    /* margin-top: 148px; */
}

.btn-logo {
    height: 14px;
    width: 16px;
    margin-left: 5px;
}

/* Recharge-Bill section*/
.Recharge-Bill {
    background: #00baf2;
    color: white;
    width: 100%;
    padding: 65px 0px;

}

.bill-itms {
    margin-left: 50px;

}

.recharge-head {
    font-size: 36px;
    padding: 0px 65px;
    margin-bottom: 19px;
    margin-left: 20px;
}

.recharge-list {
    display: flex;
    justify-self: center;
    align-items: center;
    list-style-type: none;
    padding: 40px;
}

.recharge-itm {
    margin-left: 40px;
    padding-right: 30px;
    font-weight: 600;
    padding: 11px;
}

.recharge-itm:hover {
    background-color: #3fdfff;
    border-radius: 17px;
}

.recharge-context {
    width: 109px;
}

.Recharge-section-img {
    width: 64px;
    margin-bottom: 17px;
    display: flex;
    justify-self: center;
    align-items: center;
}

/* bills payment */
.Booking {
    background-color: #0f4a8a;
    color: white;
    width: 100%;
    padding: 65px 0px;
    /* margin-bottom: 60px; */
}

.booking-itm-hover:hover {
    background-color: #256bb5;
}


/* payment instruments */
#payment-instruments {
    background-color: #f5f7fa;
    padding-top: 170px;
}

/* wallet section */
.instruments-head {
    margin-left: 60px;
    font-size: 48px;
    margin-left: 163px;
    margin-bottom: 35px;
}

.container {
    margin: 0 163px;
    background-color: white;
    border-radius: 12px;
    height: 50rem;
    padding: 80px 50px 80px 115px;
}

.division{
    width: 70%;
}

.wallet-img {
    height: 77px;
    width: auto;
    padding-right: 12px;
}

.wallet-text {
    position: absolute;
    padding-top: 31px;
    font-weight: 600;
}


.send-money{
    height: 260px;
    z-index: 2;
    margin-left: 648px;
        
}