/* root element select  */

* {
    font-family: Inter, sans-serif;
    font-size: 15px;
}

/* navigation bar designing */

#navbar {
    display: flex;
}

.logo {
    height: 9vh;
    margin-top: 3px;
    margin-left: 40px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    list-style-type: none;
    padding-left: 5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.nav-itm:hover .dropdown-content {
    display: block;
    border: 0.3px solid rgba(37, 34, 34, 0.788);
    border-radius: 7px;
    background-color: white;
    padding-bottom: 6px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}


.nav-itm {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    padding: 10px 17px;
    margin-left: 19px;
    /* on hover  */
}

.nav-itm:hover{
    background-color: #f6f6f6;
    border-radius: 2px;
    
}

#sign-in {
    background-color: #00baf2;
    position: 0;
    padding: 8px;
    border-radius: 8%;
    text-decoration: none;
    
}


/* span area selected */

#Wallet-Kyc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: 42px;
    font-size: 25px;
}


.bold-txt{
    font-weight: bold;
}

/* Download paytm designing */
#DownloadApp {
    display: flex;
    margin-top: 148px;
    margin-bottom: 100px;
}

.paymentApp {
    margin-left: 140px;
    width: 650px;

}

.paytm-upi {
    width: 80px;
}

.App-heading {
    font-size: 54px;
    /* line-height: 65px; */
}

.para-head {
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    /* font-weight: bold; */
}

#DownloadBtn {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 8px 13px;
    border-radius: 17px;
    border: .2px solid black;
}

#DownloadBtn:hover {
    background: #fff;
    color: #000;
}

.App-img {
    /* height: 6rem; */
    width: 528px;
    position: absolute;
    top: 250px;
    right: 0;
    /* margin-top: 148px; */
}

.btn-logo {
    height: 14px;
    width: 16px;
    margin-left: 5px;
}